body{font-family:Arial, Helvitica, sans-serif;}
.sidebar-first .page-content{width:90%;}
.page-content{padding:0;}
header, nav, .first-sidebar, .footer_links{display:none;}
h1, h2, h3, h4{font-family:Times New Roman, serif;}
article{font-size:16pt; line-height:19pt;}
h1{font-size:38pt;}
h2{font-size:28pt;}
